.footer {
  background-color: rgb(44, 43, 43);
  width: 100%;
  height: 17rem;
  color: #fff;
  padding: 17px 0;
  text-align: center;
}
.row {
  align-items: center;
  justify-content: space-between;
}
.col .p-3 {
  font-size: 0.8rem;
  list-style: none;
}
